# Web framework
fastapi==0.110.3
uvicorn[standard]==0.29.0

# Database
sqlalchemy==2.0.30
alembic==1.13.1
pymysql==1.1.0
cryptography==42.0.8  # requerido por pymysql para auth caching_sha2_password (MySQL 8.0)

# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.3

# Config
pydantic-settings==2.2.1
pydantic[email]==2.7.1

# HTTP utilities
python-multipart==0.0.9

# Dev tools
httpx==0.27.0
